amqp
asgiref
attrs
billiard
boto3
botocore
bleach
cachetools
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coverage
cssselect
cssutils
Django
django-celery-beat
django-cors-headers
django-filter
django-log-viewer
django-reset-migrations
django-tables2
django-timezone-field
djangorestframework
fsspec
grpcio
grpcio-status
idna
iniconfig
jmespath
joblib
kombu
lxml
mysqlclient==2.1.1
nltk
numpy
oauthlib
packaging
pandas
pluggy
premailer
prompt-toolkit
proto-plus
protobuf
py
pyasn1
pyasn1-modules
PyMySQL
pyparsing
pytest
pytest-django
pytest-dotenv
python-crontab
python-dateutil
python-dotenv
pytest-factoryboy
pytz
PyYAML
redis
regex
requests
requests-oauthlib
rsa
s3fs
s3transfer
six
SQLAlchemy
sqlparse
tomli
tqdm
urllib3
vine
wcwidth
yagmail
django-bootstrap-v5
django-ckeditor
