{% extends "base.html" %}

{% block content %}

<div class="py-5">
    <h3>Course Details</h3>

    <ul class="list-group mb-4">
        <li class="list-group-item">Name: {{ course.name }}</li>
        <li class="list-group-item">Description: {{ course.description }}</li>
        <li class="list-group-item">Public: {{ course.public|yesno:"Yes,No" }}</li>
        <li class="list-group-item">Creation date: {{ course.created_at }}</li>
        <li class="list-group-item">Invitation token: {{ course.invitation_token }}</li>
        <li class="list-group-item">
            <a href="{% url 'edit_course' course.id %}" class="btn btn-outline-primary btn-sm">Edit</a>
        </li>
        {% with users=course.participants.count %}
        {% if users %}
        <li class="list-group-item">
            Participants: {{ users }}
            <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#participantList" aria-expanded="false" aria-controls="participantList">
                Show list
            </button>
            <div class="collapse" id="participantList">
                <ul class="list-group mt-2">
                    {% for participant in course.participants.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ participant.user.name }}
                        <div>
                            <span class="badge bg-primary rounded-pill">{{ participant.progress }}%</span>
                            <form method='POST' action="{% url 'remove_user_from_course' %}" class="d-inline">
                                {% csrf_token %}
                                <input type='hidden' value='{{ participant.id }}' name='user_id'>
                                <button type='submit' class="btn btn-danger btn-sm">Remove</button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% else %}
        <li class="list-group-item">Course has no participants</li>
        {% endif %}
        {% endwith %}
    </ul>

    <h3>Chapters</h3>
    <ol class="list-group">
        {% for chapter in course.chapters.all %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Chapter {{ forloop.counter }}: {{ chapter.title }}
            <div>
                <a href="{% url 'chapter' course.id chapter.id %}" class="btn btn-outline-success btn-sm">Details</a>
                <a href="{% url 'manage_quiz' course.id chapter.id %}" class="btn btn-outline-info btn-sm">
                    {% if chapter.quiz %}
                        Edit chapter quiz
                    {% else %}
                        Add quiz for chapter
                    {% endif %}
                </a>
                <form method='POST' action="{% url 'remove_chapter' course.id chapter.id %}" class="d-inline">
                    {% csrf_token %}
                    <button type='submit' class="btn btn-outline-danger btn-sm">Remove</button>
                </form>
            </div>
        </li>
        {% endfor %}
        <li class="list-group-item">
            <a href="{% url 'create_chapter' course.id %}" class="btn btn-outline-primary">Add new chapter</a>
        </li>
    </ol>
</div>

{% endblock %}
