{% extends "base.html" %}

{% block content %}

Name: {{ course.name }}
Descriptions: {{ course.descriptions }}

<ol>
{% for chapter in course.chapters.all %}
<li>{{ chapter.title }}</li>
    <div class="rich-content">
        {{ chapter.content|safe }}
    </div>
{% if chapter.quiz %}
<a href="{% url 'quiz_attempts' course.id chapter.id %}">Chapter quiz</a>
{% if chaper.quiz_id in passed_quizes %}<span>(Already passed)</span>{% endif %}
{% endif %}
{% endfor %}
</ol>


{% load static %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
