{% extends "base.html" %}

{% block content %}

Name: {{ chapter.name }}
Quiz: {{ chapter.quiz.title }}
{% if quiz_passed %}<span>Quiz passed</span>{% endif %}
{{ chapter.quiz.description }}
{% if chapter.quiz.allowed_attempts %}Max attempts: {{chapter.quiz.allowed_attempts}}{% endif %}
Percentage required: {{chapter.quiz.percentage_required}}
{% if quiz_attempts %}
<table>
    <tr>
        <td>Number</td>
        <td>Points</td>
    </tr>
{% for quiz_attempt in quiz_attempts %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{quiz_attempt.points}}{{quiz_attempt.percentage}}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if not quiz_passed %}
<a href="{% url 'solve_quiz' course_id chapter_id %}">Attempt to solve</a>
{% endif %}
<a href="{% url 'show_course' course_id %}">Back</a>


{% endblock %}
